@font-face {
  font-family: 'FuturaLT-Book';
  src: url("fonts/FuturaLT-Book.eot?#iefix") format("embedded-opentype"), url("fonts/FuturaLT-Book.woff") format("woff"), url("fonts/FuturaLT-Book.ttf") format("truetype"), url("fonts/FuturaLT-Book.svg#FuturaLT-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
/* :: 2.0 Import All CSS */
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "FuturaLT-Book";
  font-size: 14px; }
/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }

/* :: 3.4.0 Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 60px; }
  .section-heading .line- {
    width: 90px;
    height: 2px;
    background-color: #10455b;
    display: block;
    margin-bottom: 40px; }
  .section-heading h2 {
    font-size: 48px;
    color: #363636; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 40px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; } }
  .section-heading p {
    margin-bottom: 0; }
  .section-heading.text-center .line- {
    margin: 0 auto 40px; }
  .section-heading.white h2,
  .section-heading.white p {
    color: #ffffff; }
/* :: 3.8.0 Palatin Button */
/*.palatin-btn {
  background-color: #cb8670;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 123px;
  height: 53px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 53px;
  text-transform: capitalize; }
  .palatin-btn:hover, .palatin-btn:focus {
    font-size: 16px;
    background-color: #363636;
    color: #ffffff; }
  .palatin-btn.btn-2 {
    background-color: #363636;
    color: #ffffff; }
    .palatin-btn.btn-2:hover, .palatin-btn.btn-2:focus {
      font-size: 16px;
      background-color: #cb8670;
      color: #ffffff; }
  .palatin-btn.btn-3 {
    background-color: #ffffff;
    color: #cb8670;
    border: 2px solid #cb8670;
    height: 49px;
    line-height: 48px; }
    .palatin-btn.btn-3:hover, .palatin-btn.btn-3:focus {
      font-size: 16px;
      background-color: #cb8670;
      color: #ffffff; }

*/

  .single-work-area {
  border: none;
  margin-bottom: 70px;
  border-radius: 4px; }
.single-work-area .images
        {
            height: 360px;
            width: 500px;
            background-color: black;
            background-size: cover;
            position: relative;
            display: block;
        }

.single-work-area a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px; }

.single-work-area a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.single-work-area .item-wrap .price-from {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: #181818;
    border: 3px solid #10455b;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
    color: #ffffff;
    font-size: 14px; }
  

.single-work-area .item-wrap {
  display: block;
  position: relative; }

.single-work-area .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.single-work-area .item-wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.single-work-area .item-wrap:hover:after {
  opacity: 1;
  visibility: visible; }

.single-work-area .item-wrap:hover span {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); }

.single-work-area:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.quote-29281 {
  border-left: 10px solid #01d28e;
  padding-left: 30px; }

  .single-work-area .book-room-btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 50; }
  .single-work-area:hover .rooms-text, .single-work-area:focus .rooms-text {
    background-color: #000; }

